
* {                             
    margin: 0;                  
    padding: 0;                
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    background: #ffffff;
    color: #111111;
    padding: 30px;
}

section {
    background: #F8F9FA;
    border-radius: 12px;
    padding: 25px
    margin-bottom: 35px;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.flex-container {
    display: flex;
    gap: 10px;
    background: #083b79;
    border-radius: 8px;
    padding: 15px;
    min-height: 100px;
}

.flex-item {
    background: #ffffff;
    color: #E60000;
    border-radius: 6px; 
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    transition: transform 0.2s ease;
}

.flex-item:hover {
    transform: scale(1.05);
}

#Contacto {
    justify-content:space-evenly;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E5E5E5;
    border-radius: 8px;
    padding: 15px 25px;
}

.navbar #foto1 {
    height: 60px;
}

.navbar #foto2 {
    height: 30px;
}

.navbar .nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar .nav-button {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar .nav-links a {
    color: #1B365D;
    text-decoration: none;
    transition: color 0.2s;
}

.navbar .nav-links a:hover {
    color: #E60000;
}

